# Dependencies for generating/publishing Python binaries.
bob-builder==0.0.19

# Sub-dependencies of bob-builder.
boto==2.49.0
docopt==0.6.2
asgiref==3.3.4
certifi==2020.12.5
dj-database-url==0.5.0
Django==3.2
django-cors-headers==3.7.0
django-heroku==0.0.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
docx==0.2.4
gunicorn==20.1.0
lxml==4.6.3
Pillow==8.2.0
python-docx==0.8.10
pytz==2021.1
sqlparse==0.4.1
whitenoise==5.2.0
psycopg2-binary
pandas